.footer {
	position: relative;
	top: 70px;
	height: 150px;
	width: 100vw;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #616161;
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #fff;
}

.footer a:visited {
	text-decoration: none;
	color: #fff;
}
