:root {
	--water: #4592C4;
	--flying: #3DC7EF;
	--grass: #9BCC50;
	--poison: #B97FC9;
	--fire: #FD7D24;
	--bug: #729F3F;
	--normal: #A4ACAF;
	--electric: #EED535;
	--ground: #AB9842;
	--fairy: #FDB9E9;
	--fighting: #D56723;
	--psychic: #F366B9;
	--rock: #A38C21;
	--steel: #9EB7B8;
	--ice: #51C4E7;
	--ghost: #7B62A3;
	--dragon: #F16E57;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Open Sans', sans-serif;
}
