.container {
	background-image: url(../../assets/img/diagonal-stripes.svg);
	padding: 30px;
	position: relative;
	top: 70px;
}

.button-container {
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-container {
	min-height: 50px;
	width: 100%;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
}
